@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.navbar{
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
}

.navbar-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item{
  width: 100%;
}

.nav-item:last-child{
  margin-top: auto;
}

.nav-link{
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-secondary);
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #194949;
  transition: ease-out 0.5s;
}

.nav-link:hover{
  box-shadow: inset 16rem 0 0 0 #194949;
}

.nav-link:hover .glow{
  text-shadow:
  0 0 7px #e9d4be,
  0 0 10px #e9d4be,
  0 0 21px #e9d4be
}

.link-text{
  display: none;
  margin-left: 1rem;
}

.nav-icons {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1.7rem;
  transition: 200ms
}

.navbar:hover{
  width: 16rem;
}

.navbar:hover .link-text{
  display: block;
}

.navbar:hover .logo-icon{
  transform: rotate(180deg);
  margin: 0 2rem;
}

.navbar:hover .logo-text {
  padding-left: .8rem;

}

.logo{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: var(--text-secondary);
  font-size: 1.5rem;
  letter-spacing: -0.2 ch;
  background-color: #062a2b;
  width: 100%;
}

.logo-icon{
  transform: rotate(0deg);
  transition: transform 200ms;
  width: 2rem;
  height: 2rem;
  margin: 0 1.7rem;
  transition: 500ms
}

/* Large Screens */
@media only screen and (min-width: 600px){
  .navbar{
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover{
    width: 16rem;
  }

  .navbar:hover .link-text{
    display: inline;
  }
}

/* Small Screens */
@media only screen and (max-width: 600px){
  .navbar{
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo{
    display: none;
  }

  .navbar-nav{
    flex-direction: row;
  }

  .nav-link{
    justify-content: center;
  }

  main{
    margin: 0;
  }
  
  .navbar:hover{
    height: 5rem;
    width: 100vw;
  }

  .navbar:hover .link-text{
    display: none;
  }
}