:root{
  font-size: 16px;
  font-family: 'Poppins', sans-serif; 
  --text-primary: #b5b8bb; 
  --text-secondary: #edc298;
  --bg-primary: #073235;
  --bg-seconday: #1f2933;
  --accent-gold: #edc298;
  --gold-glow: #e9d4be;
  --transition-fast: 200ms;
  --transition-slow: 500ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

body::-webkit-scrollbar{
  width: 0.33rem;
}
body::-webkit-scrollbar-track{
  background-color: var(--bg-seconday);
}

body::-webkit-scrollbar-thumb{
  background-color: var(--accent-gold);
  box-shadow: 0 0 40px 30px #ead3be;
}

